body {
  overflow: hidden;
}

.App {
  margin: 0px auto 0 auto;
  background-color: white;
  border-radius: 15px;
}
.App .cars {
  height: 685px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  justify-content: space-between;
}

.App .cars::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.App .cars::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
  display: none;
}

@media only screen and (max-width: 700px) {
  .App .cars {
    width: 100vw;
  }
  .borderNone {
    margin: 0 !important;
    width: 100vw !important;
  }
}
