.imgOverride {
  border: none !important;
  width: 500px;
  height: 300px;
}
.borderNone {
  border: none !important;
  width: 400px;
  margin: 20px auto;
}
.extra {
  background: seashell;
  margin-bottom: 15px;
  box-shadow: 0 3px 7px -2px;
}
